<html>
  <head>
    <title>Message HTML Title</title>
  </head>
  <body>
    <div>
      <p>Welcome to the Xchange Classified Application</p>
      <br />
      <p>Please verify your email</p>
      <br />

      <h2>Confirm your email</h2>
      <br />
      <p>Happy Buy and Sell to you,</p>
      <p>From Xchange Team</p>

      <span style="font-weight: bold;">Message: </span>
      <span>{{message}}</span>
    </div>
  </body>
</html>